/*@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700|Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic');*/

/*@import url('googlefonts.css'); */




@font-face {
 font-family: 'Open Sans';
 font-style: normal;
 font-weight: 400;
 src: local('Open Sans'), local('OpenSans'), url('../fonts/Open_Sans.woff2') format('woff2'),url('../fonts/Open_Sans.eot'), url('../fonts/Open_Sans.eot?#iefix') format('embedded-opentype'), url('../fonts/Open_Sans-Regular.ttf') format('truetype'), url('../fonts/Open_Sans.svg#OpenSans') format('svg');
}

@font-face {
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),url('../fonts/Roboto_Slab.woff2') format('woff2'),url('../fonts/Roboto_Slab.eot'), url('../fonts/Roboto_Slab.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto_Slab-Regular.ttf') format('truetype'), url('../fonts/Roboto_Slab.svg#latolight') format('svg');
}

@font-face {
font-family: 'Roboto Slab Bold';
font-style: bold;
font-weight: 700;
src: local('Roboto Slab Bold'), local('Roboto_Slab-Bold'), url('../fonts/Roboto_Slab-Bold.ttf') format('truetype');
}



.container {
    width: 1520px;
    padding-right: 0px; 
    padding-left: 0px; 
}
.row{
     margin-right: 0px;
     margin-left: 0px; 
}



/*HOME*/



.container-fluid.contenedor-home {
    padding-right: 0;
    padding-left: 0;
}
.fondo-home{
  background-image: url("../img/fondo1-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.contenedor-home{
  /*width: 1920px;
  height: 1080px;
*/ 
}
.boton_acceso-registro{
  height: 50px;
  background-color: #585757;
border-top:solid 5px rgb(182,1,76); padding:10px; color:#fff;}
.boton_acceso-registro p{
  font-family: 'Open Sans', sans serif;
  text-decoration:none;
  font-size: 13px;
  line-height: 28px;
  color: #fff; 
  text-align: center;
}
.boton_acceso-registro p a{
  color: #fff;
}.imagen-portal{
  float: left;
  margin-top: 35px;
  margin-bottom: 25px;
}
.logotipo-dane-home{
  float: left;
  margin-top: 5px;
}
.footer-home{margin-top:40px}.txt-footer-home{
  margin-top: 15px;
}
.txt-footer-home p{
  font-family: 'Open Sans', sans serif;
  text-decoration:none;
  font-size: 11px;
  color: #333; 
  text-align: left;
}
.contenido-home{
  margin-top: 150px;
  margin-bottom: 18px;
}
.navegacion-home{
  height: 380px;
}
.navbar-indicadores{
  /*height: 380px;
*/  background-color: rgba(255,255,255,0.70);
}
.centro-relevo{
  text-align: center;

}
.indicadores{
  margin-top: 3%;
}

/*NAVBAR Home*/

.navbar
{
  margin-top: 5%;
  margin-left: -20px;
  border:none;
} 
.navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    /*padding-left:0;*/
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

ul.nav.navbar-nav {
    background-color: transparent;
}
.navbar-nav>li>a {
    padding-top: 8px; 
    padding-bottom: 8px;
    text-shadow: none;
    background-color: #333333;
    margin-bottom: 5px;
}
.navbar-default{
  background: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
    box-shadow: none;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: #5b5b5b;
     color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
    background-image: none;
    box-shadow: none;
}
.nav>li>a>img {
    margin-right: 10px;
}
.navbar-nav,.navbar-nav > li, .navbar-left, .navbar-right, .navbar-header{
  float:none !important;
}
.navbar-right .dropdown-menu {
    left:0;
    right:auto;
}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
.dropdown-menu {
    top: 0%;
    border-radius: 0;
    padding: 0;
  }
.dropdown-menu-right {
#    right: -82%;

}
.dropdown-menu>li>a {
    padding: 12px 20px;
    line-height: 20px;
    background-color: #333333;
    color: #fff;
    box-shadow: none;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: -1px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #5b5b5b;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: none;
    color: #fff;
}

/* ___________ Colorbar ____________________ */

.contenedor-colores{
 width: 100%;
  margin-right: auto;
  margin-left: auto;
  z-index: 500;
}


/* ___________ Menu ____________________ */

#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: -2px;
  right: 0;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul ul {
  top: 0px;
  left: 100%;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul {
  margin-top: 0px;
}
#cssmenu ul ul li {
  font-weight: normal;
}

#cssmenu:before {
  content: '';
  display: block;
}
#cssmenu:after {
  content: '';
  display: table;
  clear: both;
}

#cssmenu ul ul {
  # width: 200px;
}
#cssmenu > ul > li > a {
  border-right: 4px solid #1b9bff;
  color: #ffffff;
}
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li.active a {
  background: #1b9bff;
}
#cssmenu > ul > li a:hover,
#cssmenu > ul > li:hover a {
  background: #1b9bff;
}
#cssmenu li {
  position: relative;
}
#cssmenu ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -6px;
}
#cssmenu ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
#cssmenu ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}
#cssmenu ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

#cssmenu ul ul a:hover {
  color: #ffffff;
}

#cssmenu.align-right > ul > li > a {
  border-left: 4px solid #1b9bff;
  border-right: none;
}
#cssmenu.align-right {
  float: right;
}
#cssmenu.align-right li {
  text-align: right;
}
#cssmenu.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}
#cssmenu.align-right ul li.has-sub > a:after {
  content: none;
}
#cssmenu.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}
#cssmenu.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
#cssmenu.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
#cssmenu.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
