{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="row"><br><br><br><br><br>
    <div  class="col-md-6 col-sm-8 col-xs-11 col-centered block-information ">
            <h2 class="text-center login">Apreciado ciudadano</h2>
            <h4 class="text-justify">Gracias por haber utilizado los servicios del DANE, quedamos atentos a una nueva solicitud de tu parte.</h4>

<br>
<p class="text-center">Cuando desees reactivar tu cuenta de usuario, puedes contactarnos en:</p><br> 
<ul>
<li>Correo electrónico: <a href=mailto:contacto@dane.gov.co>contacto@dane.gov.co</a></li>
<li>Teléfono 5978300 ext. 2566</li>
<li><a href=http://172.16.128.61/WebChatASP/>Chat</a> </li>
</ul>
<br>
<p class="text-center">Cordialmente,<br>
<b>DEPARTAMENTO ADMINISTRATIVO NACIONAL DE ESTADÍSTICA (DANE)</b></p>
	</div><br><br><br><br><br>
  </div>
</div>





 






 {% endblock %}
 
