{#{% autoescape off %}#}
{#You're receiving this e-mail because you requested a password reset for your user account at {{ site_name }}.#}

{#Please go to the following page and choose a new password:#}
{#{% block reset_link %}#}
{#{{ protocol }}://{{ domain }}{% url 'DaneUsers:password_reset_confirm' uidb64=uid token=token %}#}
{#{% endblock %}#}

{#Your username, in case you've forgotten: {{ user.username }}#}

{#Thanks for using our site!#}

{#The {{ site_name }} team.#}

{#{% endautoescape %}#}
{% load staticfiles %}
<html>
<head>
<meta charset="UTF-8">
<title>Departamento Administrativo Nacional de Estadística (DANE) - Validación de correo para cambio de contraseña</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/validacion-correo.css' %}">
<link href="img/favicon2.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
</head>

<body>
<div id="contenedor-validacion">
  <h1 class="text-center bienvenida">Gracias por usar nuestros servicios</h1>
  <div class="texto-registro">
      <strong>{{ user.first_name }}{{ user.last_name }}</strong> </p>
    <div class="bloque-validacion">
      <p>Para terminar el proceso de recuperar tu contraseña, por favor ingresa al siguiente enlace.
</p>
    </div>
    <a href=
    {{ protocol }}://{{ domain }}{% url 'DaneUsers:password_reset_confirm' uidb64=uid token=token %}
  >
        <button type="button" class="boton-validacion">Cambiar Contraseña</button>
    </a>
    <div class="redes-validacion">
      <ul>
        <li><a href="https://twitter.com/@DANE_Colombia" target="_blank"><img src="{% static 'img/twitter-mail_val.png' %}" alt="Twitter"></a></li>
        <li><a href="https://www.facebook.com/DANEColombia" target="_blank"><img src="{% static 'img/facebook-mail_val.png' %}" alt="Twitter"></a></li>
        <li><a href="https://www.youtube.com/user/DaneColombia" target="_blank"><img src="{% static 'img/youtube-mail_val.png' %}" alt="Twitter"></a></li>
      </ul>
    </div>
  </div>
  <div class="linea-dane"> <img src="{% static 'img/linea-mail_val.png' %}" alt="Línea DANE"> </div>
  <div class="logotipo-dane"><a href="http://www.dane.gov.co/" target="_blank"><img src="{% static 'img/logo_mail_val.png' %}" alt="Logotipo DANE"></a></div>
</div>
</body>
</html>
