{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Setting New password" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="form-registro-dane col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-3 col-xs-5 col-xs-offset-3 text-center">
        <h2 class="login">Apreciado ciudadano</h2>
        {% if validlink %}
        <p>{% trans "Please enter your new password twice." %}<br />
            {% trans "So we can verify you typed it in correctly." %}
        </p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div class="form-group has-feedback has-feedback-left">
                {{ form.new_password1.errors }}
                <i class="glyphicon glyphicon-star form-control-feedback"></i>
                <input id="id_new_password1" class="form-control" name="new_password1" type="password" placeholder="{% trans "New password:" %}">
            </div>
            <div class="form-group has-feedback has-feedback-left">
                {{ form.new_password2.errors }}
                <i class="glyphicon glyphicon-star form-control-feedback"></i>
                <input id="id_new_password2" class="form-control" name="new_password2" type="password" placeholder="{% trans "Confirm password:" %}">
            </div>
            <div class="botones-login text-center col-md-6 col-md-push-3 col-sm-6 col-xs-6">
                <button type="submit" value="submit" class="btn btn-default acceder">
                    {% trans "Change my password" %}
                </button>
            </div>
        </form>
        {% else %}
        <h4>{% trans "Password reset unsuccessful" %}</h4>
        <p>{% trans "The password reset link was invalid," %}<br />
            {% trans "possibly because it has already been used." %} <br />
            {% trans "Please request a new password reset." %} 
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}