<table>
    <thead>
        <tr>
            <th>
                <b>Select?</b>
            </th>
            <th>
                <b>Name</b>
            </th>
            <th>
                <b>Size</b>
            </th>
            <th>
                <b>URL</b>
            </th>
            <th>
                <b>Is public?</b>
            </th>
            <th>
                <b>Data pending?</b>
            </th>
        </tr>
    <thead>
    <form action="/file_server/checkout/" method="post">
    <tbody>
    {% for output_file in public_files %}
        <tr>
            <td>
                <input type="checkbox" id="id_{{ output_file.id }}" name="file_{{ output_file.id }}"/>
            </td>
            <td>
                <a href="/file_server/{{ output_file.id }}">{{ output_file.name }}</a></br>
            </td>
            <td>
                {{ output_file.filesize }}
            </td>
            <td>
                {{ output_file.url }}
            </td>
            <td>
                {{ output_file.is_public }}
            </td>
            <td>
                {{ output_file.data_pending }}
            </td>
        </tr>
    {% endfor %}
    <tbody>
    <button id="submit" class="btn btn-success">Checkout</button>
        {% csrf_token %}
    </form>
</table>
